<%
let title
let description
let css

const css_enable_round = ".server .round { display: inline-block; }"
switch (api.game) {
    case 'iw5mp':
        title = "IW5 Servers"
        description = "View Plutonium IW5 Servers & Players online"
        break
    case 't6mp':
        title = "T6 Servers"
        description = "View Plutonium T6 Servers & Players online"
        break
    case 't6zm':
        title = "T6 Zombies Servers"
        description = "View Plutonium T6 Zombies Servers & Players online"
        css = `${css_enable_round}`
        break
    case 't4mp':
        title = "T4 Servers"
        description = "View Plutonium T4 Servers & Players online"
        break
    case 't4sp':
        title = "T4 Zombies Servers"
        description = "View Plutonium T4 Zombies Servers & Players online"
        break
    default:
        title = "PluTools | Server List"
        description = "View Plutonium Servers & Players online | IW5, T6, T6 Zombies, T4 and T4 Zombies"
        css = `${css_enable_round}`
}
%>

    <!DOCTYPE html>
    <html>

    <head>
        <title>
            <%= title %>
        </title>
        <meta name="title" content="<%= title %>">
        <meta name="description" content="<%= description %>">
        <meta property="og:title" content="<%= title %>">
        <meta property="og:site_name" content="<%= title %>">
        <meta property="og:url" content="<%= config.url %>/<%= api.game %>">
        <meta property="og:description" content="<%= description %>">
        <meta property="og:type" content="article">
        <meta property="og:image" content="<%= config.url %>/img/plutools.png">
        <%- include('head') %>
        <link href="/css/serverlist.css" rel="stylesheet">
    </head>

    <body>
        <%- include('notification') %>
        <div id="search-container">
            <div id="search">
                <form class="search" method="get">
                    <input class="text-input" size="24" type="text" placeholder="Search" value="" name="s">
                </form>
            </div>
        </div>
        <%- include('header') %>
        <table class="serverlist sortable">
            <thead>
                <tr>
                    <th class="icon"></th>
                    <th class="flag"></th>
                    <th class="hostname">
                        Hostname
                    </th>
                    <th class="slots">
                        Players
                    </th>
                    <th class="gametype">
                        Gamemode
                    </th>
                    <th class="map">
                        Map
                    </th>
                    <th class="round">
                        Round
                    </th>
                </tr>
            </thead>
            <tbody>
<%
    for (const server of api.servers) {
%>
                <tr class="<%= server.game %>" onClick="window.location='/s/<%= server.identifier %>';">
                    <td class="icon" data-sort="<%= server.game %>">
                        <img src="/img/<%= server.game %>.jpg" />
                    </td>
                    <td class="flag" data-sort="<%= server.country %>">
                        <span class="fp fp <%= server.country %>"></span>
                    </td>
                    <td class="hostname">
                        <%= server.hostnameDisplayFull %>
                    </td>
                    <td class="slots" data-sort="<%= server.players.length %>">
                        <%= server.players.length %>/<%= server.maxplayers %>
                    </td>
                    <td class="gametype">
                        <%= server.gametypeDisplay %>
                    </td>
                    <td class="map">
                        <div class="margin">
                            <%= server.mapDisplay %>
                        </div>
                    </td>
                    <td class="round">
<%
    if (server.round === '0' && server.game !== 't6zm') {
        __append('<span class="x">✖</span>')
    } else {
        __append(server.round)
    }
%>
                    </td>
                </tr>

<%
    } // closes servers for
%>
            </tbody>
        </table>
        <div id="stats">
            Servers:
            <%= api.countServers %> | Players:
            <%= api.countPlayers %>/
            <%= api.maxPlayers %> | Data age:
            <%= Date.now() - api.date %>ms
        </div>
        <%- include('footer') %>
        <script src="/js/sortable.js"></script>
    </body>

    </html>