<%
let title
let description
let css

const css_disable_round = ".serverlist tr .round { display: none; }"
switch (api.game) {
    case 'iw5mp':
        title = "IW5 Servers"
        description = "View Plutonium IW5 Servers & Players online"
        css = `${css_disable_round}`
        break
    case 't6mp':
        title = "T6 Servers"
        description = "View Plutonium T6 Servers & Players online"
        css = `${css_disable_round}`
        break
    case 't6zm':
        title = "T6 Zombies Servers"
        description = "View Plutonium T6 Zombies Servers & Players online"
        break
    case 't4mp':
        title = "T4 Servers"
        description = "View Plutonium T4 Servers & Players online"
        css = `${css_disable_round}`
        break
    case 't4sp':
        title = "T4 Zombies Servers"
        description = "View Plutonium T4 Zombies Servers & Players online"
        css = `${css_disable_round}`
        break
    default:
        title = "PluTools | Server List"
        description = "View Plutonium Servers & Players online | IW5, T6, T6 Zombies, T4 and T4 Zombies"
}
%>

    <!DOCTYPE html>
    <html>

    <head>
        <title>
            <%= title %>
        </title>
        <meta name="title" content="<%= title %>">
        <meta name="description" content="<%= description %>">
        <meta property="og:title" content="<%= title %>">
        <meta property="og:site_name" content="<%= title %>">
        <meta property="og:url" content="<%= config.url %>/<%= api.game %>">
        <meta property="og:description" content="<%= description %>">
        <meta property="og:type" content="article">
        <meta property="og:image" content="<%= config.url %>/img/plutools.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
            integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <%- include('head') %>
        <link href="/css/serverlist.css" rel="stylesheet">
        <link href="/css/tooltip.css" rel="stylesheet">
        <style>
            <%- css %>
        </style>
    </head>

    <body>
        <div id="search-container">
            <div id="search">
                <form class="search" method="get">
                    <input class="text-input" size="24" type="text" placeholder="Search" value="" name="s">
                </form>
            </div>
        </div>
        <%- include('header') %>
        <table class="serverlist sortable">
            <thead>
                <tr>
                    <th class="icon symbol" data-tooltip="Game">
                        <i class="fas fa-gamepad"></i>
                    </th>
                    <th class="flag symbol" data-tooltip="Server location. Can be inaccurate.">
                        <i class="fas fa-globe"></i>
                    </th>
                    <th class="hostname">
                        Hostname
                    </th>
                    <th class="slots">
                        Players
                    </th>
                    <th class="gametype">
                        Gamemode
                    </th>
                    <th class="map">
                        Map
                    </th>
                    <th class="round symbol" data-tooltip="Current round, T6 ZM only.">
                        <i class="fas fa-flag"></i>
                    </th>
                    <th class="aimassist symbol" data-tooltip="Aim-assist for controller. ? means unknown.">
                        <i class="fas fa-crosshairs"></i>
                    </th>
                    <th alt="Password protected" class="password symbol" data-tooltip="Password protection">
                        <i class="fas fa-lock"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
<%
    for (const server of api.servers) {
%>
                <tr
                    class="<%= server.game %>"
                    data-href="/s/<%= server.identifier %>"
                    onClick="window.location = this.dataset.href"
                >
                    <td class="icon" data-sort="<%= server.game %>">
                        <img src="/img/<%= server.game %>.jpg" />
                    </td>
                    <td class="flag" data-sort="<%= server.country %>">
                        <span class="fp fp <%= server.country %>"></span>
                    </td>
                    <td class="hostname">
                        <%= server.hostnameDisplayFull %>
                    </td>
                    <td class="slots" data-sort="<%= server.players.length %>">
                        <%= server.players.length %>/<%= server.maxplayers %>
                    </td>
                    <td class="gametype">
                        <%= server.gametypeDisplay %>
                    </td>
                    <td class="map">
                        <div class="margin">
                            <%= server.mapDisplay %>
                        </div>
                    </td>
                    <td class="round">
<%
    if (server.game === 't6zm') {
        __append(server.round)
    }
%>
                    </td>
                    <td class="aimassist" data-sort="<%= server.aimassist %>">
<%
    if (server.aimassist === '1') {
        __append('<i class="fas fa-crosshairs"></i>')
    } else if (server.aimassist == '0') {
        __append('<i class="fas fa-times"></i>')
    } else {
        __append('<i class="fas fa-question"></i>')
    }
%>
                    </td>
                    <td class="password" data-sort="<%= server.password %>">
<%
    if (server.password) {
        __append('<i class="fas fa-lock"></i>')
    }
%>
                    </td>
                </tr>

<%
    } // closes servers for
%>
            </tbody>
        </table>
        <div id="stats">
            Servers:
            <%= api.countServers %> | Players:
            <%= api.countPlayers %>/
            <%= api.maxPlayers %> | Data age:
            <%= Date.now() - api.date %>ms
        </div>
        <%- include('footer') %>
        <script src="/js/serverlist.js"></script>
        <script src="/js/sortable.js"></script>
        <script src="/js/tooltip.js"></script>
    </body>

    </html>