<%
let title
if (server.known) {
    title = `${server.hostnameDisplay} [${server.players.length}/${server.maxplayers}]`
    description = `View current players [${server.players.length}/${server.maxplayers}] & server status of ${server.hostnameDisplay}`
} else {
    title = "Unknown server"
    description = `Unknown or offline server`
}
%>

<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <meta name="title" content="<%= title %>">
    <meta name="description" content="<%= description %>">
    <meta property="og:title" content="<%= title %>">
    <meta property="og:site_name" content="<%= title %>">
    <meta property="og:url" content="<%= config.url %>/server/<%= server.ip %>/<%= server.port %>">
    <meta property="og:description" content="<%= description %>">
    <meta property="og:type" content="article">
    <meta property="og:image" content="<%= config.url %>/img/mxve.png">
    <%- include('head') %>
</head>

<body>
    <div id="search-container">
        <div id="search">
            <form class="search" method="get" action="/">
                <input size="24" type="text" placeholder="Search" value="" name="s">
            </form>
        </div>
    </div>
    <%- include('header') %>
    <% if (server.known === true) { %>
    <div id="server-container">
        <a href="/server/<%= server.ip %>/<%= server.port %>" class="server <%= server.game %>">
            <%
                    if (!server.uptodate) {
                        __append(`<abbr title="This server is running version ${server.revision}, latest is ${config.latestRevision}" class="outdated">`)
                    }
                %>
            <img src="/img/<%= server.game %>.jpg" />
            <span class="hostname"><%= server.hostnameDisplay %></span>
            <span class="slots"><%= server.players.length %>/<%= server.maxplayers %></span>
            <span class="gametype"><%= server.gametypeDisplay %></span>
            <span class="map"><%= server.mapDisplay %></span>
            <%
                    if (!server.uptodate) {
                        __append(`</abbr>`)
                    }
                %>
        </a>
    </div>
    <div id="server-details">
        <%
                __append(`<span onClick="copy()" class="connect">connect ${server.ip}:${server.port}</span>
                    `)

                if (!server.uptodate) {
                    __append(`<br>This server is out of date!<br>Server version: ${server.revision}<br>Latest version: ${config.latestRevision}`)
                }

                if (server.players.length > 0) {
            %>

        <div id="players">
            <div class="player header">
                <span class="username">
                    Username
                </span>
                <span class="ping">
                    Ping
                </span>
            </div>
            <%
                    for (player of server.players) {
                        __append(`
                                    <div class="player">
                                        <span class="username">
                                            <a href="https://forum.plutonium.pw/user/${player.userslug}">${player.username}</a>
                                        </span>
                                        <span class="ping">
                                            ${player.ping}
                                        </span>
                                    </div>
                                        `)
                    }
                    }
                %>
        </div>
    </div>
    <% } else { %>

    <div id="server-error">Unknown Server</div>
    <% } %>
    <div id="footer">
        Made by mxve#3406<br>
        This website is in no way endorsed by or affiliated with Plutonium, Activision, Treyarch, Infinity Ward or any other copyright holder whos assets and/or trademarks may have been used.<br>
        Server data provided by <a href="https://plutonium.pw/api/servers">Plutonium server API</a>. Takedown and unlisting requests: hi@mxve.de<br>
        <a href="https://github.com/mxve/plutonium-server-list">Source Code</a>
    </div>
    <script>
        function copy() {
            navigator.clipboard.writeText("connect <%= server.ip %>:<%= server.port %>");
            alert("Copied!");
        }
    </script>
</body>

</html>