<!DOCTYPE html>
<html>
    <head>
        <title>Plutonium Server List (BETA)</title>
        <%- include('head') %>
    </head>
    <body>
        <div id="search-container">
            <div id="search">
                <form class="search" method="get">
                    <input size="24" type="text" placeholder="Search" value="" name="s">
                </form>
            </div>
        </div>
        <%- include('header') %>
        <div id="server-container">
            <div class="server header">
                <img src="/img/mxve.png" />
                <span class="hostname">Name</span>
                <span class="slots">Players</span>
                <span class="gametype">Gamemode</span>
                <span class="map">Map</span>
            </div>
        <%
            for (const server of api.servers) {
                if (server.hostnameDisplay.length > 44) {
                    server.hostnameDisplay = `${server.hostnameDisplay.substring(0, 42)}...`
                }
                if (server.mapDisplay.length > 24) {
                    server.mapDisplay = `${server.mapDisplay.substring(0, 22)}...`
                }

                __append(`  <a href="/server/${server.ip}/${server.port}" class="server ${server.game}"> 
                                <img src="/img/${server.game}.jpg" />
                                <span class="hostname">${server.hostnameDisplay}</span>
                                <span class="slots">${server.players.length}/${server.maxplayers}</span>
                                <span class="gametype">${server.gametypeDisplay}</span>
                                <span class="map">${server.mapDisplay}</span>
                            </a>
                            `)
            }
        %>
        </div>
        <div id="stats">
            Servers: <%= api.countServers %> | 
            Players: <%= api.countPlayers %>/<%= api.maxPlayers %> | 
            Data age: <%= api.age %>
        </div>
        <div id="footer">
            Made by mxve#3406<br>
            This website is in no way endorsed by or affiliated with Plutonium, Activision, Treyarch, Infinity Ward or any other copyright holder whos assets and/or trademarks may have been used.<br>
            Server data provided by <a href="https://plutonium.pw/api/servers">Plutonium server API</a>. Takedown and unlisting requests: hi@mxve.de<br>
            <a href="https://github.com/mxve/plutonium-server-list">Source Code</a>
        </div>
    </body>
</html>