<%
let title
if (server.known) {
    title = `${server.hostnameDisplay} [${server.players.length}/${server.maxplayers}]`
    description = `View player count, map and gamemode of ${server.hostnameDisplay}`
} else {
    title = "Unknown server"
    description = `Unknown or offline server`
}
preview_image = `${config.url}/s/${server.identifier}/png`
page_url = `${config.url}/s/${server.identifier}`
%>

<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <meta name="title" content="<%= title %>">
    <meta name="description" content="<%= description %>">
    <meta property="og:title" content="<%= title %>">
    <meta property="og:site_name" content="pluto.mxve.de">
    <meta property="og:url" content="<%= page_url %>">
    <meta property="og:description" content=" ">
    <meta property="og:type" content="article">
    <meta property="og:image" content="<%= preview_image %>">
    <meta property="og:image:url" content="<%= preview_image %>">
    <meta property="og:image:secure_url" content="<%= preview_image %>">
    <meta property="og:image:type" content="image/png">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="<%= page_url %>">
    <meta property="twitter:title" content="<%= title %>">
    <meta property="twitter:description" content=" ">
    <meta property="twitter:image" content="<%= preview_image %>">
    <link rel="image_src" href="<%= preview_image %>" />
    <link as="image" crossorigin="anonymous" href="<%= preview_image %>" rel="preload" />
    <%- include('head') %>
</head>

<body>
    <%- include('notification') %>
    <div id="search-container">
        <div id="search">
            <form class="search" method="get" action="/">
                <input class="text-input" size="24" type="text" placeholder="Search" value="" name="s">
            </form>
        </div>
    </div>
    <%- include('header') %>
    <% if (server.known === true) { %>
    <div id="server-container">
        <a href="/s/<%= server.identifier %>" class="server <%= server.game %>">
            <%
                if (!server.uptodate) {
                    __append(`<abbr title="This server is running version ${server.revision}, latest is ${revision}" class="outdated">`)
                }
            %>
            <img src="/img/<%= server.game %>.jpg" />
            <span class="hostname"><span class="fp fp <%= server.country %>"></span><%= server.hostnameDisplay %></span>
            <span class="slots"><%= server.players.length %>/<%= server.maxplayers %></span>
            <span class="gametype"><%= server.gametypeDisplay %></span>
            <%
                if (server.game == 't6zm') {
                    __append(`<span class="round" style="display: inline-block">${server.round}</span>`)
                }
            %>
            <span class="map"><%= server.mapDisplay %></span>
            <%
                        if (!server.uptodate) {
                            __append(`</abbr>`)
                        }
                    %>
        </a>
    </div>
    <div id="server-details">
        <%
                __append(`<span onClick="copyServer()" class="connect">connect ${server.ip}:${server.port}</span>
                    `)

                if (!server.uptodate) {
                    __append(`<br>This server is out of date!<br>Server version: ${server.revision}<br>Latest version: ${revision}`)
                }

                if (server.players.length > 0) {
            %>

        <div id="players">
            <h3>Current players</h3>
            <div class="player header">
                <span class="username">
                    Username
                </span>
                <span class="ping">
                    Ping
                </span>
            </div>
            <%
                    for (player of server.players) {
                        __append(`
                                    <div class="player">
                                        <span class="username">
                                            <a href="https://forum.plutonium.pw/user/${player.userslug}">${player.username}</a>
                                        </span>
                                        <span class="ping">
                                            ${player.ping}
                                        </span>
                                    </div>
                                        `)
                    }
                    }
                %>
        </div>
    </div>
    <div id="banner">
        <h3>Server banner</h3>
        <p>
            <img id="banner-png" src="<%= preview_image %>"><br>

            <label for="url">Image link</label>
            <input onClick="copy(getElementById('url').value)" class="text-input" id="url" size="64" type="text" value="<%= preview_image %>" readonly>
            <label for="markdown">Markdown</label>
            <input onClick="copy(getElementById('markdown').value)" class="text-input" id="markdown" size="64" type="text" value="[![<%= server.hostnameDisplay %>](<%= preview_image %>)](<%= page_url %>)" readonly>
            <label for="bbcode">BBCode</label>
            <input onClick="copy(getElementById('bbcode').value)" class="text-input" id="bbcode" size="64" type="text" value="[URL=<%= page_url %>][IMG]<%= preview_image %>[/IMG][/URL]" readonly>
            <label for="html">HTML</label>
            <input onClick="copy(getElementById('html').value)" class="text-input" id="html" size="64" type="text" value="<a href=&quot;<%= page_url %>&quot; title=&quot;<%= server.hostnameDisplay %>&quot;><img src=&quot;<%= preview_image %>&quot; alt=&quot;<%= server.hostnameDisplay %>&quot;></a>" readonly>
        </p>
    </div>
    <% } else { %>

    <div id="server-error">Unknown Server</div>
    <% } %>
        <%- include('footer') %>

    <script>
        function copy(text) {
            navigator.clipboard.writeText(text);
            alert("Copied!");
        }
        function copyServer() {
            copy("connect <%= server.ip %>:<%= server.port %>")
        }
    </script>
</body>

</html>